[submodule "personal"]
	path = personal
	url = git@github.com:rillyv/.dotfiles-personal.git
[submodule "work"]
	path = work
	url = git@github.com:rillyv/.dotfiles-work.git
[submodule "nvim"]
	path = nvim/.config/nvim
	url = git@github.com:rillyv/nvim.git
